wrap {
    text-align: center;
    margin: 15px auto;
}

.resp-w30 {
    display: inline-block;
    text-align: center;
    width: 30%;
    margin-right: 1%;
    border: black 1px dashed;
}

.resp-w45 {
    display: inline-block;
    text-align: left;
    width: 48%;
    margin-right: 1%;
}

#batteryLevelFull {
    width: 100%;
    border-radius: 10px;
    background-color: #ddd;
}

#batteryLevelPercentage {
    width: 20%;
    height: 20px;
    border-radius: 10px;
    background-color: #0c714c;
    text-align: center;
    line-height: 20px;
    color: white;
}

.rounderCorner {
    border-radius: 3px;
}